.jcarousel-skin-tango-b .jcarousel-container {
    /*-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
   border-radius: 10px;*/
   /* background: #F0F6F9;*/
   /* border: 1px solid #346F97;*/
}

.jcarousel-skin-tango-b .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango-b .jcarousel-container-horizontal {
    /*padding: 10px 0px;*/
}

.jcarousel-skin-tango-b .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tango-b .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango-b .jcarousel-clip-horizontal {
    /*width:769px;*/
	/*float:right;*/
    /*height: 172px;*/
	width:100%;
	margin:0 auto;
}

.jcarousel-skin-tango-b .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-tango-b .jcarousel-item {
    width: 230px;
   /* height: 260px;*/
}

.jcarousel-skin-tango-b .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 15px;
}
.jcarousel-skin-tango-b .jcarousel-item-horizontal img
{
	
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	opacity:1;
}
.jcarousel-skin-tango-b .jcarousel-item-horizontal img:hover{
	opacity:0.8;
}


.jcarousel-skin-tango-b .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango-b .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango-b .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango-b .jcarousel-next-horizontal {
    position: absolute;
    top: 112px;
    right: 10px;
    width: 35px;
    height: 38px;
    cursor: pointer;
    background: url(../images/next-horizontal.png) no-repeat scroll center center;
	display:none !important;
}

.jcarousel-skin-tango-b .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../images/prev-horizontal.png);
}

.jcarousel-skin-tango-b .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango-b .jcarousel-next-horizontal:focus {
    /*background-position: 0px 0;*/
}

.jcarousel-skin-tango-b .jcarousel-next-horizontal:active {
    /*background-position: -64px 0;*/
}

.jcarousel-skin-tango-b .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango-b .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango-b .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango-b .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango-b .jcarousel-prev-horizontal {
  background: url(../images/prev-horizontal.png) no-repeat scroll center center;
    cursor: pointer;
    float: left;
    height: 38px;
    position: absolute;
    top:112px;
	left: 10px;
    width: 35px;
	display:none !important;
}

.jcarousel-skin-tango-b .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../images/next-horizontal.png);
}

.jcarousel-skin-tango-b .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango-b .jcarousel-prev-horizontal:focus {
    /*background-position: 0px 0;*/
}

.jcarousel-skin-tango-b .jcarousel-prev-horizontal:active {
    /*background-position: -64px 0;*/
}

.jcarousel-skin-tango-b .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango-b .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango-b .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango-b .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango-b .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango-b .jcarousel-next-vertical:hover,
.jcarousel-skin-tango-b .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango-b .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango-b .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango-b .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango-b .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango-b .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango-b .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango-b .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango-b .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango-b .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango-b .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango-b .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango-b .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango-b .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango-b:hover .jcarousel-prev-horizontal{display:block !important;}

.jcarousel-skin-tango-b:hover .jcarousel-next-horizontal{display:block !important;}

@media only screen and (min-width: 320px) and (max-width: 767px)
{
.jcarousel-skin-tango-b .jcarousel-clip-horizontal
{
	width:73%;
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px)
{
	.jcarousel-skin-tango-b .jcarousel-clip-horizontal
	{
		width:83%;
	}
}
